:root {
  --primary-color: hsla(163, 99%, 30%, 1);
  --secundary-color: #fff;
  --text-color: hsla(0, 0%, 28%, 1);
  --text-number-color: hsla(163, 99%, 30%, 0.2);
  --margin-top-box-3: 14rem;
  --background: #245852;

  font-size: 62.5%;
  --font-style1: 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 192rem;
  height: auto;
}

/* === Barra de Nagegação === */
header {
  width: 192rem;
  height: 8.5rem;
  background: #ffffff;
}

header img {
  margin-left: calc(27.5rem - (7.957rem / 2));
  margin-right: 10.046rem;
}

header h2 {
  margin-left: 7.2;
  margin-inline: calc(7.2rem / 2);
  align-items: center;
  display: flex;
  width: 9.6rem;
  height: 2.4rem;
}

.top-menu {
  font-size: 2rem;
  font-family: Lato;
  font-weight: 500;
  font-style: normal;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

.top-menu-nav {
  font-size: 1rem;
  font-family: Lato;
  font-weight: 400;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: spa;
}

.btn-top {
  display: flex;
}

.btn-white {
  background-color: var(--secundary-color);
  color: var(--font-style1);

  border: none;
  width: 8.9rem;
}

.btn-green1 {
  color: var(--secundary-color);
  background-color: var(--primary-color);

  margin-right: 27.6rem;

  width: 18.3rem;
  height: 5.1rem;

  border: none;

  border-radius: 0.4rem;
}

/* === Primeira div intro === */
.intro img {
  width: 192rem;
  height: auto;
  z-index: -1;

  /* Faz com que a ocorra a flutuação */
  float: left;
}

.intro-text {
  position: absolute;
  left: 24.5rem;
  top: calc(2rem + 17.5rem + (14.8rem / 2));
}

.intro-text h1 {
  color: var(--primary-color);
  font-size: 6.5rem;
  margin-bottom: 3rem;
}

.intro-text h4 {
  font-family: Lato;
  font-weight: 400;
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.intro-text button {
  color: var(--secundary-color);
  background-color: var(--primary-color);

  margin-right: 27.6rem;

  width: 18.3rem;
  height: 5.1rem;

  border: none;
  border-radius: 0.4rem;
}

/* === Segunda div Works === */
.works {
  display: inline-flex;
  margin-left: 27.5rem;
  margin-top: 16.9rem;
}

.works1 h5 {
  margin-right: 13.6rem;
  color: var(--text-color);

  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 157%;
}

.works1 h1 {
  margin-right: 13.6rem;
  color: var(--primary-color);
  font-size: 5rem;
}

.works2 h4 {
  font-family: Lato;
  font-weight: 500;
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.works-box {
  display: inline-flex;
  margin-left: 27.5rem;
}

.works-box h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
  transform: translateX(8.5rem);
}

.works-box h5 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  width: 41rem;
  margin-block: 7rem;
}

.number {
  z-index: 1;
  transform: translateY(4rem);
}

.works-box1 {
  margin-right: 9.5rem;
  margin-top: var(--margin-top-box-3);
}

.works-box2 {
  margin-right: 9.5rem;
  margin-top: calc(var(--margin-top-box-3) + 28.7rem);
}

.works-box3 {
  margin-right: 9.5rem;
  margin-top: calc(var(--margin-top-box-3) + 5.4rem);
}

/* ### Terceira div ### */
.video-box {
  display: flex;
  /* flex-direction: column; */
  background-color: #245852;
  height: 92.2rem;
  margin-top: 5.1rem;
}

.video-box1 {
  display: flex;
  flex-direction: column;
}

.video-box1 h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;

  line-height: 157%;
  color: #fff;

  margin-top: 31rem;
  margin-left: 20.7rem;
  margin-bottom: 3.3rem;
}

.video-box1 h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;

  line-height: 157%;
  color: #fff;

  margin-left: 20.7rem;
  margin-bottom: 5.7rem;
}

.video-box1 button {
  color: var(--secundary-color);
  background-color: var(--background);

  margin-left: 20.7rem;
  margin-right: 27.6rem;

  width: 18.3rem;
  height: 5.1rem;

  border: none;
  border-radius: 0.4rem;
}

.video-box2 {
  position: absolute;

  width: 89.584rem;
  height: 51.611rem;
  left: 81.8rem;
  top: 281.6rem;
}

/* ### Quarta div ### */

.product {
  margin: 12rem 27.5rem 0rem 27.5rem;
  display: flex;
}

.product-img-1 {
  margin-left: 6.078rem;
  position: relative;
}

.product-img-2 {
  position: absolute;
  left: -6.7rem;
  top: 35.41rem;
}

.product-2 {
  margin: 0rem 27.5rem 40.3rem 8.663rem;

  width: 58.4rem;
  height: 41.3rem;
}

.product-2 h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 157%;

  color: var(--text-color);
}

.product-2 h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 157%;

  width: 58.4rem;
  height: 20.7rem;

  color: var(--primary-color);
}

.product-2 h4 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.1rem;

  color: var(--text-color);
}

.product-2 button {
  color: var(--secundary-color);
  background-color: var(--primary-color);

  margin-top: 4rem;

  width: 18.3rem;
  height: 5.1rem;

  border: none;
  border-radius: 0.4rem;
}

/* ### Quinta div ### */

.rodape {
  background-color: var(--background);
  height: 65.4rem;
  display: flex;

  padding-top: 9.5rem;
}

.rodape-text h2 {
  margin-left: 27.5rem;
  padding-bottom: 6rem;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  line-height: 5.5rem;

  color: #ffffff;
}

.rodape-text h3 {
  margin-left: 27.5rem;
  padding-bottom: 6rem;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;

  color: #ffffff;
}
